/*Start google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/*End google fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(19, 18, 18);
    color: aliceblue;
}
/*Start Curd Content*/
.head {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.head h1 {
    color: brown;
    font-size: 2.5rem;
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 30px;
}

.head p {
    font-size: 20px;
    font-weight: 500;
}
/*Start Curd inputs*/
input {
    background-color: #2d3236bd !important;
    outline: none !important;
    border: none !important;
    margin-bottom: 30px;
    padding: 21px 31px !important;
    font-size: 3rem;
    color: aliceblue !important;
    font-weight: 500 !important;
    border-radius: 20px !important;
    cursor: pointer;
    transition: 1s;
}

input:focus {
    transform: scale(1.1);
    border: 1px solid #fff !important;
}

.countInputs input {
    width: 20%;
}

small {
    background-color: crimson;
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 8px;
    top: 5px;
    right: 2px;
    cursor: pointer;
}

small::before {
    content: 'Total : ';
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
}
.totleNum{
    margin-right: 15px;
}
/*End Curd inputs*/
/*Start Curd BTN*/
button {
    width: 100% !important;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px !important;
    border-radius: 30px !important;
    transition: all 0.5s linear !important;
    font-weight: 800 !important;
}

.btnSearch button {
    width: 45% !important;
    padding: 15px !important;
    border-radius: 30px !important;
}

button:hover {
    letter-spacing: 3px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btBody {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
/*End Curd BTN*/
/*Start Curd Table*/

th {
    color: #ffff;
    text-transform: uppercase;
    margin-bottom: 10px !important;
}

td {
    color: #fff !important;
}

.alert-danger {
    border-radius: 20px;
    margin-top: 10px;
}

.alert-danger p {
    margin: 15px 15px;
}
/*End Curd Table*/
/*End Curd Content*/

/********************************************************* Start media  screen****************************************************/
/*mobil*/
@media screen and (max-width:500px) {
    input {
        width: 10%;
    }

    input {
        margin-bottom: 25px;
        padding: 10px 10px !important;
        font-size: 2rem;
        font-weight: 300 !important;
        border-radius: 20px !important;
        cursor: pointer;
        transition: 1s;
    }

    small {
        background-color: crimson;
        border-radius: 20%;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 12px;

    }

    small::before {
        content: 'T:';
        font-size: 15px;
        color: black;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block !important;
        width: 100% !important;
    }
    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        margin-bottom: 15px;
        position: absolute;
        left: 0;
        width: 10%;
        font-weight: 500;
    }

    td button {
        margin-bottom: 0 !important;
        margin-top: 8px !important;
        width: 60% !important;
        font-size: 20px;

    }
    .totleNum {
        margin-left: 0 !important;
    }
}

/********************************************************* End media  screen****************************************************/